{
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "airbnb/hooks"
    // "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": [
      "tsconfig.json",
      "packages/archive-core/tsconfig.json",
      "packages/archive-ingester/tsconfig.json",
      "packages/archive-types/tsconfig.json",
      "packages/archive-web/tsconfig.json"
    ]
  },
  "plugins": ["@typescript-eslint"],
  "root": true,
  "rules": {
    "import/prefer-default-export": "off",
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "max-len": ["error", { "comments": 80, "code": 120 }],
    "react/function-component-definition": [
      "error",
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "moduleDirectory": ["node_modules", "packages"]
      }
    }
  }
}
